<!-- nav bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top" *ngIf="currentUser">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Expense Portal</a>
    </div>
    <ul class="navbar-nav dashboard">
      <li class="nav-item active"><a class="nav-link" routerLink="/">Dashboard</a></li>
    </ul>
    <p>Welcome {{currentUser.firstName}} {{currentUser.lastName}}</p>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div >
  <router-outlet></router-outlet>
</div>
   
